<form method="post" id="protocoloForm">

    <!-- ========================= -->
    <!-- DATOS GENERALES -->
    <!-- ========================= -->

    <h2>Datos generales</h2>

    <div class="mb-3">
        <label class="form-label">
            Fecha de mantenimiento
        </label>

        <input
            type="date"
            class="form-control"
            name="general.fecha_mantenimiento"
        >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Tipo de equipo
        </label>

        <select
            id="equipos"
            name="equipo.tipo"
            class="form-control"
        >
            <option value="">--Seleccione--</option>
            {% for tipo in tipo_equipos %}
                <option value="{{ tipo[0] }}">{{ tipo[1] }}</option>
            {% endfor %}
        </select>
    </div>

    <!-- ========================= -->
    <!-- CLIENTE -->
    <!-- ========================= -->

    <h2>Datos del cliente</h2>

    <div class="mb-3">
        <label class="form-label">
            Hospital / Clínica
        </label>

        <select
            name="cliente.nombre"
            class="form-control"
        >
            <option value="">-- Seleccione --</option>
            {% for cliente in clientes %}
                <option value="{{ cliente[0] }}">{{ cliente[1] }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Área / Servicio
        </label>

        <select name="cliente.area" class="form-control" >
            <option value="">-- Seleccione --</option>
            <option value="UCI">UCI</option>
            <option value="Urgencias">Urgencias</option>
            <option value="Cirugía">Cirugía</option>
            <option value="Hospitalización">Hospitalización</option>
            <option value="Obstetricia">Obstetricia</option>
            <option value="UCI_intermédios">UCI intermédios</option>
            <option value="Pediatria">Pediatria</option>
        </select>
    </div>

    <!-- ========================= -->
    <!-- EQUIPO -->
    <!-- ========================= -->

    <h2>Datos del equipo</h2>

    <div class="mb-3">
        <label class="form-label">
            Marca
        </label>
        <select name="equipo.marca" class="form-control">
            <option value="">-- Seleccione --</option>
            {% for marca in brand %}
                <option value="{{ marca[0] }}">{{ marca[1] }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Modelo
        </label>

        <input
            type="text"
            class="form-control"
            name="equipo.modelo"
        >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Número de serie
        </label>

        <input
            type="text"
            class="form-control"
            name="equipo.numero_serie"
        >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Número de inventario
        </label>

        <input
            type="text"
            class="form-control"
            name="equipo.numero_inventario"
        >
    </div>

    <!-- ========================= -->
    <!-- SERVICIO -->
    <!-- ========================= -->

    <h2>Servicio realizado</h2>

    <div class="mb-3">
        <label class="form-label">
            Tipo de servicio
        </label>
        <select name="servicio.tipo" class="form-control"        >
            <option value="">-- Seleccione --</option>
            {% for servicio in servicios %}
                <option value="{{ servicio[0] }}">{{ servicio[1] }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Limpieza interna y externa
        </label>

        <select
            name="servicio.limpieza"
            class="form-control"
        >
            <option value="">-- Seleccione --</option>
            <option value="cumple">Cumple</option>
            <option value="no_cumple">No cumple</option>
            <option value="na">No aplica</option>
        </select>
    </div>

    <!-- ========================= -->
    <!-- FORMULARIO DINÁMICO -->
    <!-- ========================= -->

    <div id="formulario_especifico"></div>

    <!-- ========================= -->
    <!-- ACTIVIDADES -->
    <!-- ========================= -->

    <h2>Actividades</h2>

    <div class="mb-3">
        <label class="form-label">
            Actividad realizada
        </label>

        <textarea
            class="form-control"
            name="servicio.actividad"
        ></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Observaciones
        </label>

        <textarea
            class="form-control"
            name="servicio.observaciones"
        ></textarea>
    </div>

    <!-- ========================= -->
    <!-- REPUESTOS -->
    <!-- ========================= -->

    <h2>Repuestos instalados</h2>

    <div class="row">

        <div class="col-md-3">
            <input
                type="number"
                class="form-control"
                placeholder="Cantidad"
                name="repuestos.cantidad_1"
            >
        </div>

        <div class="col-md-9">
            <textarea
                class="form-control"
                placeholder="Descripción"
                name="repuestos.descripcion_1"
            ></textarea>
        </div>

    </div>

    <!-- ========================= -->
    <!-- ESTADO FINAL -->
    <!-- ========================= -->

    <h2>Estado final</h2>

    <div class="mb-3">
        <label class="form-label">
            Estado final del equipo
        </label>

        <select
            name="resultado.estado"
            class="form-control"
        >
            <option value="">
                -- Seleccione --
            </option>

            <option value="funcional">
                Funciona correctamente
            </option>

            <option value="parcial">
                Funciona parcialmente
            </option>

            <option value="fuera_servicio">
                Fuera de servicio
            </option>
        </select>
    </div>

    <!-- ========================= -->
    <!-- TECNICO -->
    <!-- ========================= -->

    <div class="mb-3">
        <label class="form-label">
            Técnico responsable
        </label>

        <select name="tecnico.nombre" class="form-control">
            <option value="">-- Seleccione --</option>
            {% for tecnico in tecnicos %}
            <option value="{{tecnico[0]}}">{{tecnico[1]}}</option>
            {% endfor %}
        </select>
    </div>

    <!-- ========================= -->
    <!-- BOTON -->
    <!-- ========================= -->

    <div class="mt-4">
        <button
            class="btn btn-primary" id="guardarInforme" type="button">
            Guardar informe
        </button>
    </div>

</form>