<form method="post">

    <h2>Báscula</h2>

    <div class="mb-3">
        <label class="form-label">
            falta información
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            falta información
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            falta información
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            falta información
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            falta información
        </label>
        <input type="text" class="form-control" name="volumen_medio" required>
    </div>


    <div class="mb-3">
        <label class="form-label">
            falta información
        </label>
        <input type="text" class="form-control" name="tiempo_medio" required>
    </div>

    <div class="mb-3">
        <label class="form-label">
            falta información
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            falta información
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            falta información
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            falta información
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            falta información
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            falta información
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>



</form>