<form method="post">

    <h2>Bomba de infusión</h2>

    <div class="mb-3">
        <label class="form-label">
            Verficación de pantalla y botones de selección:
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación del sensor de gotas
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación del cable de poder
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de la puerta
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-2">
        <h2>Varibles a medir</h2>
        <ul>
            <li>Verificación del flujo (ml/h)</li>
            <li>Tiempo (min)</li>
            <li>Volumen (ml) (+/- 5%)</li>
            <li>Volumne programado: 20ml</li>
        </ul>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Volumen medio
        </label>
        <input type="text" class="form-control" name="volumen_medio" required>
    </div>

    <h3>Tiempo programado: 20 minutos.</h3>

    <div class="mb-3">
        <label class="form-label">
            Tiempo medio
        </label>
        <input type="text" class="form-control" name="tiempo_medio" required>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarma de oclusión
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarma de aire en linea
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarma de frasco vacio
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarma de flujo libre
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarma de puerta abierta
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Pre-alarma de infusión y alarma de fin de infusión
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>



</form>