<form method="post">
    <h2>Cama hospitalaria</h2>

    <div class="mb-3">
        <label class="form-label">
            Verficación de llantas y frenos
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Verficación de tornillos de potencia de cabecero
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Verficación de tornillos de potencia de piecero
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Verficación de tornillos de potencia de altura
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Verficación de manivelas
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Verficación de tableros (cabecero y piecero)
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Verficación de cableado A.C.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Verficación de módulo eléctrico y control eléctrico
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Verficación de motores eléctricos (cabecero, piecero, altura y trendelenburg)
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Verficación de tendidos
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Verficación de bateria y sistema eléctrico
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

</form>