<div class="card mt-4 shadow-sm">

    <h2 class="mb-4">Electrocardiógrafo</h2>

    <h3>Inspección del estado del equipo.</h3>

    <div class="mb-3">
        <label class="form-label">
            Inspección general del equipo (golpes, abolladuras, pintura, etc.)
        </label>
        <select name="Inspección general del equipo (golpes, abolladuras, pintura, etc.)" class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Efecturar limpieza general, interna y externa del equipo.
        </label>
        <select name="Efecturar limpieza general, interna y externa del equipo." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de pantalla, touchcreen, botón selector y teclado.
        </label>
        <select name="Verificación de pantalla, touchcreen, botón selector y teclado." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de carro de transporte (Base, llantas y frenos).
        </label>
        <select name="Verificación de carro de transporte (Base, llantas y frenos)." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de accesorios (Cable de ECG, pinzas, electrodos de succión).
        </label>
        <select name="Verificación de accesorios (Cable de ECG, pinzas, electrodos de succión)." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de bateria.
        </label>
        <select name="Verificación de bateria." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de fecha y hora.
        </label>
        <select name="Verificación de fecha y hora." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de cable A.C.
        </label>
        <select name="Verificación de cable A.C." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación impresora térmica.
        </label>
        <select name="Verificación impresora térmica." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <h3>Verificación de parámetros ECG.</h3>
    <h4>ECG +/- 1.0bpm</h4>

    <div class="mb-3">
        <label class="form-label">
            ECG 60
        </label>
        <input type="text" class="form-control" name="ECG 60" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            ECG 80
        </label>
        <input type="text" class="form-control" name="ECG 80">
    </div>

    <div class="mb-3">
        <label class="form-label">
            ECG 120
        </label>
        <input type="text" class="form-control" name="ECG 120">
    </div>

    <div class="mb-3">
        <label class="form-label">
            ECG 200
        </label>
        <input type="text" class="form-control" name="ECG 200">
    </div>

    <div class="mb-3">
        <label class="form-label">
            ECG 240
        </label>
        <input type="text" class="form-control" name="ECG 240">
    </div>

    <h3>Verificaión de alarmas</h3>
    <div class="mb-3">
        <label class="form-label">
            Alarma ECG alta y baja.
        </label>
        <select name="Alarma ECG alta y baja." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarma red eléctrica y uso de bateria.
        </label>
        <select name="Alarma red eléctrica y uso de bateria." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarmas visuales y sonoras.
        </label>
        <select name="Alarmas visuales y sonoras." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>
</div>