<form method="post">

    <h2>Electrobisturí</h2>

    <h3>Inspección del estado del equipo.</h3>

    <div class="mb-3">
        <label class="form-label">
            Inspección general del equipo (golpes, abolladuras, pintura, etc.)
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Efecturar limpieza general del equipo.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Inspección del panel frontal (Botones, perillas, conectores eléctricos, indicadores, etc).
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de cable A.C. o cargador A.C./D.C.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de palas adulto / pediátrico, cable de marcapasos externo.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de impresora térmica.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de cable ECG y sensor SpO2.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación y ajuste de fecha y hora.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de bateria.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <h3>Verificación y prueba de funcionamiento.</h3>

    <div class="mb-3">
        <label class="form-label">
            Realizar prueba de encendido con alimentación eléctrica y bateria.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Realizar test de descarga de energía según marca y modelo.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Realizar test de impresora térmica.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Realizar test de carga de bateria.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Realizar test de descarga en modo SYNC (cardioversión).
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Realizar test de marcapasos externo.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>


    <h3>Verificación de parámetros.</h3>
    <h4>Energia en Joules +/- 10%.</h4>

    <div class="mb-3">
        <label class="form-label">
            Energia 5.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Energia 10.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Energia 20.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Energia 50.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Energia 100.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Energia 150.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Energia 200.
        </label>
        <input type="text" class="form-control" >
    </div>

    <h3>ECG +/- 1 BPM</h3>

    <div class="mb-3">
        <label class="form-label">
            ECG 60.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            ECG 80.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            ECG 120.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            ECG 200.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            ECG 240.
        </label>
        <input type="text" class="form-control" >
    </div>

    <h3>Corriente marcapasos +/- 10% mA.</h3>

    <div class="mb-3">
        <label class="form-label">
            Corriente 10.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Corriente 20.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Corriente 50.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Corriente 80.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Corriente 100.
        </label>
        <input type="text" class="form-control" >
    </div>

    <h3>BPM marcapasos +/- 2 BPM.</h3>

    <div class="mb-3">
        <label class="form-label">
            BPM 50.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            BPM 80.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            BPM 100.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            BPM 120.
        </label>
        <input type="text" class="form-control" >
    </div>


    <h3>Verificaión de alarmas</h3>

    <div class="mb-3">
        <label class="form-label">
            Indicación visual, sonora, de carga y descarga de energia.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Indicación de trabajo en modo A.C. y bateria.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarma de bateria baja.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarma de ECG alta y baja.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarma de papel de impresora / tapa abierta.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarmas visuales y sonoras.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

</form>