<form method="post">

    <h2>Máquina de anestesia.</h2>

    <h3>Inspección del estado del equipo.</h3>

    <div class="mb-3">
        <label class="form-label">
            Inspección general del equipo (golpes, abolladuras, pintura, etc.)
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Efecturar limpieza general, interna y externa del equipo.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de pantalla, botón selector y teclado.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de carro de transpore (Base, llantas, frenos).
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de mangera de oxígeno.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de manguera de aire.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de bloqueo inspiratorio.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de bloqueo espiratorio y/o sensor de flujo espiratorio.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de cable A.C.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de bateria.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <h3>Verificaión y prueba de funcionamiento.</h3>

    <div class="mb-3">
        <label class="form-label">
            Altura de operación (Altitud).
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Test corto.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Test de presión cero.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Test de flujo cruzado.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Test de celda de oxígeno (FIO2).
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Test de pantalla touch.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Test de botones y perilla selectora.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Test de fuga de circuito.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Horas de funcionamiento.
        </label>
        <input type="number" min="0" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Horas de funcionamiento de turbina y/o compresor.
        </label>
        <input type="number" min="0" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Cambio de filtro de entrada de aire de turbina.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Cambio de filtro de aire en sistema de refrigeración.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <h3>Verificación de parámetros (Presión, volumen, FIO2, FR)</h3>
    <h4>Presión máxima +/- 2.0 cmH2O.</h4>

    <div class="mb-3">
        <label class="form-label">
            presión máxima 10.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            presión máxima 15.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            presión máxima 20.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            presión máxima 25.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            presión máxima 30.
        </label>
        <input type="text" class="form-control" >
    </div>

    <h4>PEEP +/- 2.0 cm</h4>

    <div class="mb-3">
        <label class="form-label">
            PEEP 3.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            PEEP 5.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            PEEP 8.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            PEEP 10.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            PEEP 12.
        </label>
        <input type="text" class="form-control" >
    </div>

    <h4>Volumen adulto (ml) +/- 10.0%</h4>

    <div class="mb-3">
        <label class="form-label">
            Volumen adulto 200.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Volumen adulto 300
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Volumen adulto 400
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Volumen adulto 500
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Volumen adulto 600
        </label>
        <input type="text" class="form-control" >
    </div>

    <h4>Volumen pediátrico (ml) +/- 10%</h4>

        <div class="mb-3">
        <label class="form-label">
            Volumen pediátrico 50
        </label>
        <input type="text" class="form-control" >
    </div>

        <div class="mb-3">
        <label class="form-label">
            Volumen pediátrico 100
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Volumen pediátrico 150
        </label>
        <input type="text" class="form-control" >
    </div>


    <div class="mb-3">
        <label class="form-label">
            Volumen pediátrico 200
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Volumen pediátrico 250
        </label>
        <input type="text" class="form-control" >
    </div>

    <h4>Frecuencia respiratoria +/- 1.0</h4>

    <div class="mb-3">
        <label class="form-label">
            Frecuencia respiratoria 8.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Frecuencia respiratoria 10.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Frecuencia respiratoria 12.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Frecuencia respiratoria 15.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Frecuencia respiratoria 20.
        </label>
        <input type="text" class="form-control" >
    </div>

    <h4>Concentración de oxígeno +/- 10%.</h4>

    <div class="mb-3">
        <label class="form-label">
            02 21
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            02 40
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            02 60
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            02 80
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            02 100
        </label>
        <input type="text" class="form-control" >
    </div>

    <h4>Flujo de oxígeno +/- 1.</h4>

    <div class="mb-3">
        <label class="form-label">
            Flujo de oxigeno 1.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Flujo de oxigeno 2.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Flujo de oxigeno 5.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Flujo de oxigeno 8.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Flujo de oxigeno 10.
        </label>
        <input type="text" class="form-control" >
    </div>


    <h4>Flujo de aire +/- 1.</h4>

    <div class="mb-3">
        <label class="form-label">
            Flujo de aire 1.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Flujo de aire 2.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Flujo de aire 5.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Flujo de aire 8.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Flujo de aire 10.
        </label>
        <input type="text" class="form-control" >
    </div>

    <h4>Verificación de alarmas.</h4>

    <div class="mb-3">
        <label class="form-label">
            Alarma desconexión de red de aire / red de oxígeno.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>
    
    <div class="mb-3">
        <label class="form-label">
            Alarma de red eléctrica desconectada y modo bateria.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarma de circuito desconectada.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarma de presión baja y alta.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarma de volumen alto y bajo.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarma de frecuencia respiratoria y/o apnea.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarma visuales y sonoras.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>
</form>