<div class="card mt-4 shadow-sm" >

    <h2>Monitor de signos vitales</h2>

    <h3>Inspección del estado del equipo.</h3>

    <div class="mb-3">
        <label class="form-label">
            Inspección general del equipo (golpes, abolladuras, pintura, etc.)
        </label>
        <select name="Inspección general del equipo (golpes, abolladuras, pintura, etc.)" class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Efecturar limpieza general, interna y externa del equipo.
        </label>
        <select name="Efecturar limpieza general, interna y externa del equipo." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de pantalla, touchcreen, botón selector y teclado.
        </label>
        <select name="Verificación de pantalla, touchcreen, botón selector y teclado." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de carro de transporte (Base, llantas y frenos).
        </label>
        <select name="Verificación de carro de transporte (Base, llantas y frenos)." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de accesorios (Cable de ECG, pinzas, electrodos de succión, SPO2, NIBP, IBP, etc).
        </label>
        <select name="Verificación de accesorios (Cable de ECG, pinzas, electrodos de succión, SPO2, NIBP, IBP, etc)." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de bateria.
        </label>
        <select name="Verificación de bateria." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de fecha y hora.
        </label>
        <select name="Verificación de fecha y hora." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de cable A.C.
        </label>
        <select name="Verificación de cable A.C." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de fugas en módulo NIBP.
        </label>
        <select name="Verificación de fugas en módulo NIBP." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <h3>Verificación de parámetros (ECG, SPO2, NIBP, IBP, FR).</h3>
    <h4>ECG +/- 1.0bpm</h4>

    <div class="mb-3">
        <label class="form-label">
            ECG 60
        </label>
        <input type="text" class="form-control" name="ECG 60">
    </div>

    <div class="mb-3">
        <label class="form-label">
            ECG 80
        </label>
        <input type="text" class="form-control" name="ECG 80">
    </div>

    <div class="mb-3">
        <label class="form-label">
            ECG 120
        </label>
        <input type="text" class="form-control" name="ECG 120">
    </div>

    <div class="mb-3">
        <label class="form-label">
            ECG 200
        </label>
        <input type="text" class="form-control" name="ECG 200">
    </div>

    <div class="mb-3">
        <label class="form-label">
            ECG 240
        </label>
        <input type="text" class="form-control" name="ECG 240">
    </div>

    <h4>SPO2 +/- 2.0%</h4>

    <div class="mb-3">
        <label class="form-label">
            SPO2 90.
        </label>
        <input type="text" class="form-control" name="SPO2 90.">
    </div>

    <div class="mb-3">
        <label class="form-label">
            SPO2 92.
        </label>
        <input type="text" class="form-control" name="SPO2 92.">
    </div>

    <div class="mb-3">
        <label class="form-label">
            SPO2 94.
        </label>
        <input type="text" class="form-control" name="SPO2 94.">
    </div>

    <div class="mb-3">
        <label class="form-label">
            SPO2 96.
        </label>
        <input type="text" class="form-control" name="SPO2 96.">
    </div>

    <div class="mb-3">
        <label class="form-label">
            SPO2 98.
        </label>
        <input type="text" class="form-control" name="SPO2 98.">
    </div>

    <h4>NIBP presión dinámica +/- 5.0 mmHg</h4>

    <div class="mb-3">
        <label class="form-label">
            Diastólica 60.
        </label>
        <input type="text" class="form-control" name="Diastólica 60.">
        <label class="form-label">
            Sistólica 30.
        </label>
        <input type="text" class="form-control" name="Sistólica 30.">
    </div>

    <div class="mb-3">
        <label class="form-label">
            Diastólica 80.
        </label>
        <input type="text" class="form-control" name="Diastólica 80.">
        <label class="form-label">
            Sistólica 50.
        </label>
        <input type="text" class="form-control" name="Sistólica 50.">
    </div>

    <div class="mb-3">
        <label class="form-label">
            Diastólica 120.
        </label>
        <input type="text" class="form-control" name="Diastólica 120.">
        <label class="form-label">
            Sistólica 80.
        </label>
        <input type="text" class="form-control" name="Sistólica 80.">
    </div>

    <div class="mb-3">
        <label class="form-label">
            Diastólica 150.
        </label>
        <input type="text" class="form-control" name="Diastólica 150.">
        <label class="form-label">
            Sistólica 100.
        </label>
        <input type="text" class="form-control" name="Sistólica 100.">
    </div>

    <div class="mb-3">
        <label class="form-label">
            Diastólica 200.
        </label>
        <input type="text" class="form-control" name="Diastólica 200.">
        <label class="form-label">
            Sistólica 150.
        </label>
        <input type="text" class="form-control" name="Sistólica 150.">
    </div>

    <h4> Presión estática +/- 4.0 mmHg</h4>
    <div class="mb-3">
        <label class="form-label">
            NIBP 50.
        </label>
        <input type="text" class="form-control" name="NIBP 50.">
    </div>

    <div class="mb-3">
        <label class="form-label">
            NIBP 100.
        </label>
        <input type="text" class="form-control" name="NIBP 100.">
    </div>

    <div class="mb-3">
        <label class="form-label">
            NIBP 150.
        </label>
        <input type="text" class="form-control" name="NIBP 150.">
    </div>

    <div class="mb-3">
        <label class="form-label">
            NIBP 200.
        </label>
        <input type="text" class="form-control" name="NIBP 200.">
    </div>

    <div class="mb-3">
        <label class="form-label">
            NIBP 250.
        </label>
        <input type="text" class="form-control" name="NIBP 250.">
    </div>

    <h4> frecuencia respiratoria +/- 2 RPM</h4>
    <div class="mb-3">
        <label class="form-label">
            FR 15.
        </label>
        <input type="text" class="form-control" name="FR 15.">
    </div>

    <div class="mb-3">
        <label class="form-label">
            FR 20
        </label>
        <input type="text" class="form-control" name="FR 20">
    </div>

    <div class="mb-3">
        <label class="form-label">
            FR 30
        </label>
        <input type="text" class="form-control" name="FR 30">
    </div>

    <div class="mb-3">
        <label class="form-label">
            FR 40
        </label>
        <input type="text" class="form-control" name="FR 40">
    </div>

    <div class="mb-3">
        <label class="form-label">
            FR 60
        </label>
        <input type="text" class="form-control" name="FR 60">
    </div>

    <h4> IBP CH-1 presión estática +/- 4.0 mmHg.</h4>
    <div class="mb-3">
        <label class="form-label">
            IBP1 50.
        </label>
        <input type="text" class="form-control" name="IBP1 50.">
    </div>

    <div class="mb-3">
        <label class="form-label">
            IBP1 100.
        </label>
        <input type="text" class="form-control" name="IBP1 100.">
    </div>

    <div class="mb-3">
        <label class="form-label">
            IBP1 150.
        </label>
        <input type="text" class="form-control" name="IBP1 150.">
    </div>

    <div class="mb-3">
        <label class="form-label">
            IBP1 200.
        </label>
        <input type="text" class="form-control" name="IBP1 200.">
    </div>

    <div class="mb-3">
        <label class="form-label">
            IBP1 250.
        </label>
        <input type="text" class="form-control" name="IBP1 250.">
    </div>

    <h4> IBP CH-2 presión estática +/- 4.0 mmHg.</h4>
    <div class="mb-3">
        <label class="form-label">
            IBP2 50.
        </label>
        <input type="text" class="form-control" name="IBP2 50.">
    </div>

    <div class="mb-3">
        <label class="form-label">
            IBP2 100.
        </label>
        <input type="text" class="form-control" name="IBP2 100.">
    </div>

    <div class="mb-3">
        <label class="form-label">
            IBP2 150.
        </label>
        <input type="text" class="form-control" name="IBP2 150.">
    </div>

    <div class="mb-3">
        <label class="form-label">
            IBP2 200.
        </label>
        <input type="text" class="form-control" name="IBP2 200.">
    </div>

    <div class="mb-3">
        <label class="form-label">
            IBP2 250.
        </label>
        <input type="text" class="form-control" name="IBP2 250.">
    </div>

    <h3>Verificaión de alarmas</h3>
    <div class="mb-3">
        <label class="form-label">
            Alarma ECG alta y baja.
        </label>
        <select name="Alarma ECG alta y baja." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarma SPO2 alta y baja.
        </label>
        <select name="Alarma SPO2 alta y baja." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarmas NIBP alta y baja.
        </label>
        <select name="Alarmas NIBP alta y baja." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarmas IBP alta y baja.
        </label>
        <select name="Alarmas IBP alta y baja." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarmas frecuencia respiratoria alta y baja.
        </label>
        <select name="Alarmas frecuencia respiratoria alta y baja." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarmas red eléctrica y uso de bateria.
        </label>
        <select name="Alarmas red eléctrica y uso de bateria." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarmas visuales y sonoras.
        </label>
        <select name="Alarmas visuales y sonoras." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>
</div>