<form method="post">

    <h2>Monitor de signos vitales</h2>

    <h3>Inspección del estado del equipo.</h3>

    <div class="mb-3">
        <label class="form-label">
            Inspección general del equipo (golpes, abolladuras, pintura, etc.)
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Efecturar limpieza general, interna y externa del equipo.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de pantalla, touchcreen, botón selector y teclado.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de carro de transporte (Base, llantas y frenos).
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de accesorios (Cable de ECG, pinzas, electrodos de succión, SPO2, NIBP, IBP, etc).
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de bateria.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de fecha y hora.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de cable A.C.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de fugas en módulo NIBP.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <h3>Verificación de parámetros (ECG, SPO2, NIBP, IBP, FR).</h3>
    <h4>ECG +/- 1.0bpm</h4>

    <div class="mb-3">
        <label class="form-label">
            ECG 60
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            ECG 80
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            ECG 120
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            ECG 200
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            ECG 240
        </label>
        <input type="text" class="form-control" >
    </div>

    <h4>SPO2 +/- 2.0%</h4>

    <div class="mb-3">
        <label class="form-label">
            SPO2 90.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            SPO2 92.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            SPO2 94.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            SPO2 96.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            SPO2 98.
        </label>
        <input type="text" class="form-control" >
    </div>

    <h4>NIBP presión dinámica +/- 5.0 mmHg</h4>

    <div class="mb-3">
        <label class="form-label">
            Diastólica 60.
        </label>
        <input type="text" class="form-control" >
        <label class="form-label">
            Sistólica 30.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Diastólica 80.
        </label>
        <input type="text" class="form-control" >
        <label class="form-label">
            Sistólica 50.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Diastólica 120.
        </label>
        <input type="text" class="form-control" >
        <label class="form-label">
            Sistólica 80.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Diastólica 150.
        </label>
        <input type="text" class="form-control" >
        <label class="form-label">
            Sistólica 100.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            Diastólica 200.
        </label>
        <input type="text" class="form-control" >
        <label class="form-label">
            Sistólica 150.
        </label>
        <input type="text" class="form-control" >
    </div>

    <h4> Presión estática +/- 4.0 mmHg</h4>
    <div class="mb-3">
        <label class="form-label">
            NIBP 50.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            NIBP 100.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            NIBP 150.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            NIBP 200.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            NIBP 250.
        </label>
        <input type="text" class="form-control" >
    </div>

    <h4> frecuencia respiratoria +/- 2 RPM</h4>
    <div class="mb-3">
        <label class="form-label">
            FR 15.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            FR 20
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            FR 30
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            FR 40
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            FR 60
        </label>
        <input type="text" class="form-control" >
    </div>

    <h4> IBP CH-1 presión estática +/- 4.0 mmHg.</h4>
    <div class="mb-3">
        <label class="form-label">
            IBP1 50.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            IBP1 100.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            IBP1 150.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            IBP1 200.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            IBP1 250.
        </label>
        <input type="text" class="form-control" >
    </div>

    <h4> IBP CH-2 presión estática +/- 4.0 mmHg.</h4>
    <div class="mb-3">
        <label class="form-label">
            IBP2 50.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            IBP2 100.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            IBP2 150.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            IBP2 200.
        </label>
        <input type="text" class="form-control" >
    </div>

    <div class="mb-3">
        <label class="form-label">
            IBP2 250.
        </label>
        <input type="text" class="form-control" >
    </div>

    <h3>Verificaión de alarmas</h3>
    <div class="mb-3">
        <label class="form-label">
            Alarma ECG alta y baja.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarma SPO2 alta y baja.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarmas NIBP alta y baja.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarmas IBP alta y baja.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarmas frecuencia respiratoria alta y baja.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarmas red eléctrica y uso de bateria.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Alarmas visuales y sonoras.
        </label>
        <select name="verificacion" class="form-control" required>
            <option value="">-- Seleccione --</option>
            <option value="si">Cumple</option>
            <option value="no">No cumple</option>
            <option value="na">No aplica</option>
            <option value="nr">No registra</option>
        </select>
    </div>
</form>