<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/logo_biomega.ico') }}" type="image/x-icon">

    <title>SISEM</title>
</head>
<body>
    <div class="container">
        <div class="izquierda">
            <div class="formulario">
                <h2>Incio de Sesión</h2>
                {% if error %}
                    <div class="error">
                        <p>{{ error }}</p>
                    </div>
                {% endif %}
                <form action="/" method="POST">
                    <input type="text" name="username" placeholder="Usuario" required>
                    <input type="password" name="password" placeholder="Contraseña" required>
                    <button type="submit" >Iniciar Sesión</button>
                </form>
            </div>
        </div>
        <div class="derecha">
            <h1>SISEM</h1>
            <p>Sistema Integrado de Seguimiento de Equipos Médicos</p>
        </div>
    </div>
</body>

<footer>
    <p>&copy; BIOMEGA - INGENIERIA Y MANTENIMIENTO - 2026 SISEM. Todos los derechos reservados.</p>
    
</footer>
</html>