<form method="post">
    <div class="mb-3">
        <label class="form-label">
            Nombre del equipo:
        </label>
        <input type="text" class="form-control" name="equipo">
    </div>

    <div class="mb-3">
        <label class="form-label">
            serial del equipo:
        </label>
        <input type="text" class="form-control" name="serial">
    </div>

    <div class="mb-3">
        <label class="form-label">
            Marca del equipo:
        </label>
        <input type="text" class="form-control" name="marca">
    </div>

    <button class="btn btn-primary">
        Guardar
    </button>
</form>