<form method="post">   

    <div class="mb-3">
        <label class="form-label">
            Fecha de reporte:
        </label>
        <input type="date" class="form-control">
    </div>

    <h2>Información del cliente</h2>

    <div class="mb-3">
        <label class="form-label">
            Nombre del cliente:
        </label>
        <select name="cliente" class="form-control">
            <option value="">-- Seleccione --</option>
            <option value="sep">Clínica SEP</option>
            <option value="san_jose">Hospital San José Infantil</option>
            <option value="multilink">Multilink Ingenieria S.A.S.</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Solicitante:
        </label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">
            Área/Servicio:
        </label>
        <input type="text" class="form-control">
    </div>

    <h2>Datos del equipo</h2>

    <div class="mb-3">
        <label class="form-label">
            Tipo de equipo:
        </label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">
            Marca:
        </label>
        <input type="text" class="form-control">
    </div> 

    <div class="mb-3">
        <label class="form-label">
            Modelo:
        </label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">
            Número de serie:
        </label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">
            Código de inventario:
        </label>
        <input type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">
            Tipo de servicio realizado:
        </label>
        <select name="servicio" class="form-control">
            <option value="">-- Seleccione --</option>
            <option value="preventivo">Mantenimiento Preventivo</option>
            <option value="correctivo">Mantenimiento Correctivo</option>
            <option value="accesorios">Cambio de accesorios</option>
            <option value="respuestos">Cambio de repuestos</option>
            <option value="baja">Dado de baja</option>
            <option value="parámetros">Equipo fuera de parámetros</option>
            <option value="diagnostico">Diagnóstico</option>
            <option value="soporte">Soporte técnico</option>
            <option value="capacitacion">Capacitación</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Descripción de la falla o solicitud:
        </label>
        <textarea class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Diagnóstico técnico:
        </label>
        <textarea class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Acciones realizadas:
        </label>
        <textarea class="form-control"></textarea>
    </div>

    <div class="mb3">
        <label class="form-label">
            Obseervaciones adicionales:
        </label>
        <textarea class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">
            cantidad 1:
        </label>
        <input type="number" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">
            Descripción 1:
        </label>
        <textarea class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">
            cantidad 2:
        </label>
        <input type="number" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">
            Descripción 2:
        </label>
        <textarea class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">
            cantidad 3:
        </label>
        <input type="number" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">
            Descripción 3:
        </label>
        <textarea class="form-control"></textarea>
    </div>
    
    <div class="mb-3">
        <label class="form-label">
            cantidad 4:
        </label>
        <input type="number" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">
            Descripción 4:
        </label>
        <textarea class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">
            cantidad 5:
        </label>
        <input type="number" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">
            Descripción 5:
        </label>
        <textarea class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Estado final del equipo:
        </label>
        <select name="estado" class="form-control">
            <option value="">-- Seleccione --</option>
            <option value="funciona_totalmente">Equipo funciona correctamente</option>
            <option value="funciona_parcialmente">Equipo funciona parcialmente</option>
            <option value="Fuera_de_servicio">Equipo fuera de servicio</option>
            <option value="fuera_de_rango">Equipo fuera de rango</option>
            <option value="faltan_accesorios">Equipo con falta de accesorios</option>
            <option value="espera">Equipo en espera de respuesto</option>
            <option value="no_encontrado">Equipo no encontrado</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Entregado / Realizado por:
        </label>
        <select class="form-control">
            <option value="">-- Seleccione --</option>
            <option value="jose">José Francisco Ojeda</option>
            <option value="luis">Luis Sergio Silva Sánchez</option>
            <option value="daniel">Daniel Guerrero</option>
            <option value="juan">Juan Camilo Beltrán</option>
            <option value="carlos">Carlos Alberto Romero Lozano</option>
        </select>
    </div>


    <button href="/guardar_informe_mantenimiento" class="btn btn-success">
        Guardar informe
    </button>
</form>