<div class="card mt-4 shadow-sm">
    <h2 class="mb-4">Cama hospitalaria</h2>

    <div class="mb-3">
        <label class="form-label">
            Verficación de llantas y frenos
        </label>
        <select name="Verficación de llantas y frenos" class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Verficación de tornillos de potencia de cabecero
        </label>
        <select name="Verficación de tornillos de potencia de cabecero" class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Verficación de tornillos de potencia de piecero
        </label>
        <select name="Verficación de tornillos de potencia de piecero" class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Verficación de tornillos de potencia de altura
        </label>
        <select name="Verficación de tornillos de potencia de altura" class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Verficación de manivelas
        </label>
        <select name="Verficación de manivelas" class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Verficación de tableros (cabecero y piecero)
        </label>
        <select name="Verficación de tableros (cabecero y piecero)" class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Verficación de cableado A.C.
        </label>
        <select name="Verficación de cableado A.C." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Verficación de módulo eléctrico y control eléctrico
        </label>
        <select name="Verficación de módulo eléctrico y control eléctrico" class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Verficación de motores eléctricos (cabecero, piecero, altura y trendelenburg)
        </label>
        <select name="Verficación de motores eléctricos (cabecero, piecero, altura y trendelenburg)" class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Verficación de tendidos
        </label>
        <select name="Verficación de tendidos" class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Verficación de bateria y sistema eléctrico
        </label>
        <select name="Verficación de bateria y sistema eléctrico" class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>
</div>
