<div class="card mt-4 shadow-sm">

    <h2 class="mb-4">Concentrador de Oxigeno</h2>
    <div class="mb-3">
        <label class="form-label">
            verificación de pantalla, botón de encendido.
        </label>
        <select name="verificación de pantalla, botón de encendido." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            verificación de llantas de transporte.  
        </label>
        <select name="verificación de llantas de transporte." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            verificación de flujómetro.
        </label>
        <select name="verificación de flujómetro." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            verificación de cable A.C.
        </label>
        <select name="verificación de cable A.C." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            verificación de bateria.
        </label>
        <select name="verificación de bateria." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Horas funcionamiento de turbina y/o compresor.
        </label>
        <select name="Horas funcionamiento de turbina y/o compresor." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Cambio de filtro de entrada de aire.
        </label>
        <select name="Cambio de filtro de entrada de aire." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Porcentaje de concentración de oxígeno.
        </label>
        <select name="Porcentaje de concentración de oxígeno." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <h3>Verificación de parámetros.</h3>
    <h4>Flujo +/- 1.0 L/min</h4>

    <div class="mb-3">
        <label class="form-label">
            Flujo 1
        </label>
        <textarea class="form-control" name="Flujo 1"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">
            Flujo 2
        </label>
        <textarea class="form-control" name="Flujo 2"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">
            Flujo 3
        </label>
        <textarea class="form-control" name="Flujo 3"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">
            Flujo 4
        </label>
        <textarea class="form-control" name="Flujo 4"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">
            Flujo 5
        </label>
        <textarea class="form-control" name="Flujo 5"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">
            Flujo 6
        </label>
        <textarea class="form-control" name="Flujo 6"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">
            Flujo 7
        </label>
        <textarea class="form-control" name="Flujo 7"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">
            Flujo 8
        </label>
        <textarea class="form-control" name="Flujo 8"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">
            Flujo 9
        </label>
        <textarea class="form-control" name="Flujo 9"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">
            Flujo 10
        </label>
        <textarea class="form-control" name="Flujo 10"></textarea>
    </div>

    <h3>Verificación de alarmas.</h3>

    <div class="mb-3">
        <label class="form-label">
            Alarmas sonoras.
        </label>
        <select name="Alarmas sonoras." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>
        
    <div class="mb-3">
        <label class="form-label">
            Alarmas visuales (leds).
        </label>
        <select name="Alarmas visuales (leds)." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>
</div>    
