<div class="card mt-4 shadow-sm">

    <h2 class="mb-4">Flujómetro</h2>

    <h3>Inspección del estado del equipo.</h3>

    <div class="mb-3">
        <label class="form-label">
            Inspección general del equipo (golpes, abolladuras, pintura, etc.)
        </label>
        <select name="Inspección general del equipo (golpes, abolladuras, pintura, etc.)" class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Efecturar limpieza general, interna y externa del equipo.
        </label>
        <select name="Efecturar limpieza general, interna y externa del equipo." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de acrílico, esfera de medición y perilla.
        </label>
        <select name="Verificación de acrílico, esfera de medición y perilla." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de fugas de oxígeno.
        </label>
        <select name="Verificación de fugas de oxígeno." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de conector / acople rápido.
        </label>
        <select name="Verificación de conector / acople rápido." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">
            Verificación de escala de medida.
        </label>
        <select name="Verificación de escala de medida." class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>

    <h3>Verificaión de parámetros.</h3>
    <h4>Flujo adulto #1 +/- 10%.</h4>

    <div class="mb-3">
        <label class="form-label">
            L1 1
        </label>
        <input type="text" class="form-control" name="L1 1">
    </div>

    <div class="mb-3">
        <label class="form-label">
            L1 3
        </label>
        <input type="text" class="form-control" name="L1 3">
    </div>

    <div class="mb-3">
        <label class="form-label">
            L1 5
        </label>
        <input type="text" class="form-control" name="L1 5">
    </div>

    <div class="mb-3">
        <label class="form-label">
            L1 8
        </label>
        <input type="text" class="form-control" name="L1 8">
    </div>

    <div class="mb-3">
        <label class="form-label">
            L1 10
        </label>
        <input type="text" class="form-control" name="L1 10">
    </div>


    <h4>Flujo adulto #2 +/- 10%.</h4>

    <div class="mb-3">
        <label class="form-label">
            L2 1
        </label>
        <input type="text" class="form-control" name="L2 1">
    </div>

    <div class="mb-3">
        <label class="form-label">
            L2 3
        </label>
        <input type="text" class="form-control" name="L2 3">
    </div>

    <div class="mb-3">
        <label class="form-label">
            L2 5
        </label>
        <input type="text" class="form-control" name="L2 5">
    </div>

    <div class="mb-3">
        <label class="form-label">
            L2 8
        </label>
        <input type="text" class="form-control" name="L2 8">
    </div>

    <div class="mb-3">
        <label class="form-label">
            L2 10
        </label>
        <input type="text" class="form-control" name="L2 10">
    </div>


    <h4>Flujo pediátrico +/- 10%.</h4>

    <div class="mb-3">
        <label class="form-label">
            LP 1
        </label>
        <input type="text" class="form-control" name="LP 1">
    </div>

    <div class="mb-3">
        <label class="form-label">
            LP 2
        </label>
        <input type="text" class="form-control" name="LP 2">
    </div>

    <div class="mb-3">
        <label class="form-label">
            LP 3
        </label>
        <input type="text" class="form-control" name="LP 3">
    </div>

    <div class="mb-3">
        <label class="form-label">
            LP 4
        </label>
        <input type="text" class="form-control" name="LP 4">
    </div>

    <div class="mb-3">
        <label class="form-label">
            LP 5
        </label>
        <input type="text" class="form-control" name="LP 5">
    </div>
</div>