<div class="card mt-4 shadow-sm" >

    <h2>Succionador</h2>
    <h3>Inspección del estado del equipo.</h3>

    <div class="mb-3">
        <label class="form-label">
            Inspección general del equipo (golpes, abolladuras, pintura, etc.)
        </label>
        <select name="Inspección general del equipo (golpes, abolladuras, pintura, etc.)" class="form-control" required>
                <option value="">-- Seleccione --</option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No aplica">No aplica</option>
                <option value="No registra">No registra</option>
        </select>
    </div>
</div>